@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom stitching effect details */
.stitch-border {
  border: 2px dashed #F43397; /* Meesho Pink stitched lines */
}

.denim-card {
  background-color: #F7F7FA;
  border: 1.5px solid #1E1E24;
  box-shadow: 0 4px 0px 0px #1E1E24;
}

.denim-card:active {
  transform: translateY(1px);
  box-shadow: 0 1px 0px 0px #1E1E24;
}

/* Custom scrollbars */
::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: #9F2089;
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: #FC8B16;
}
